<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="post">
        <h2>Edit your post</h2>
        <p>Post id: <%= post.id %></p>
        <p>Post username: <%= post.username %></p>
        <form method="post" action="/posts/<%= post.id %>/edit">
            <textarea name="content"><%= post.content %></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>   
</body>
</html>
